* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 100px;
}
.row {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.col {
  margin-left: 5%;
  margin-top: 10px;
  flex: 35%;
}
@media screen and (max-width: 800px){
  .col {
    flex: 100%;
  }
}